/*body {background-color: #804242;}

div.divs  p.pars{color: lightblue;}

abbr[title]{color:lightgreen;}

*[width="300"]{color:whitesmoke;}

div.divs > p{color:aquamarine;}

p[id="id1"] > img.images {border:5px solid #3e47c5}

* > img:nth-child(odd){border:5px solid #c8ce5e}

img[src$=".jpg"]{border:10px solid #5ece6d}

div.div1+div.div2{color:#305faa}

tbody tr:nth-child(even){color:blueviolet}
*/


/*background for welcome screen*/

@font-face {
	font-family: 'square721_btroman';
	src: url('font/square721_bt_roman-webfont.woff2') format('woff2'),
		url('font/square721_bt_roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/*font*/
html {
	font-family: 'square721_btroman', Arial, sans-serif;
}

div#bg1 {
	height: calc(90vh);
	margin: auto;
	position: relative;


	background: linear-gradient(45deg, rgba(249, 249, 249, 1) 0%, rgba(210, 209, 209, 1) 100%);
}

div#bot_welcome {
	color: #A7A7AC;
	text-align: center;
	font-size: 12px;
	margin: auto 32% auto 32%;
}

table#table1 {
	height: calc(90vh - 2em);
	margin: 25px auto 25px auto;
	position: relative;
	/*border: 1px solid black;*/

}

td#table1 {
	/*border: 1px solid black;*/
	margin: 25px auto 25px auto;
}


/*welcome screen title*/
div#title1 {
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin-left: 20%;
	margin-right: 20%;
	color: #232671;
}

/*welcome screen image*/
img#welcome_img {

	width: 800px;
	height: 370px;
	object-position: 0% 35%;
	object-fit: cover;
	text-align: center;

	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*enter button*/
div#enter_button {
	position: absolute;
	bottom: 0;
	left: 45%;
	text-align: center;
	font-size: 26px;
}

a#enter_link,
a#enter_link:link,
a#enter_link:visited,
a#enter_link:hover,
a#enter_link:active {
	text-decoration: none;
	color: #D72C27;
}


/* register / login pages */

/* table for register page */
table#register_table {
	margin: auto;
	margin-top: 4%;
	align-self: center;
}

/* each element of the table */
table#register_table>tbody>tr {
	text-align: center;
	margin: 3px 3px 3px 3px;
}

table#register_table>tbody>tr>td {
	padding: 5px;
}

/* align field to the right (looks weird otherwise) */
table#register_table>tbody>tr:not(:first-child):not(:last-child)>td {
	text-align: center;
	/*does nothing but i used it in the past*/
}

/* buttons */
button#register_button {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	font-family: 'square721_btroman', Arial, sans-serif;
	font-size: medium;
	color: rgb(55, 55, 167);

}

/* links */
a#forgot_password,
a#forgot_password:link,
a#forgot_password:visited,
a#forgot_password:hover,
a#forgot_password:active {
	text-decoration: none;
	color: rgb(55, 55, 167);
}