@font-face {
    font-family: 'square721_btroman';
    src: url('Font/square721_bt_roman-webfont.woff2') format('woff2'),
         url('Font/square721_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'square721_btroman';
}

body {
    margin: 0;
    /* background-image: url(Images/LOGOS_JEUNES_6_4.svg);
    background-repeat: no-repeat; */
}

header {
    /* border: 1px solid green; */
    background-color: #bdbec1;
    height: 220px; width: auto;
    display: flex;
}

/* ------------------- Résoudre problème texte quand je change d'affichage ------------------- */

#haut_page-container {
    /* border: 3px solid blue; */
    margin: auto; margin-top: 0;
    width: fit-content; height: fit-content;
}

#nom_page-container {
    /* border: 5px solid red; */
    color: #e7319d;
    font-size: 3em;
    margin: auto;
    width: fit-content; height: fit-content;
}

#nom_page-container > h1 {
    /* border: 5px solid green; */
    margin: auto; margin-top: 14%; margin-left: 93%;
}

#texte_haut-container {
    /* border: 5px solid red; */
    color: white;
    font-size: 1.4em; letter-spacing: 5px;
    width: fit-content; height: fit-content;
    margin: auto;
    position: absolute;
}

#texte_haut-container > p {
    /* border: 1px solid black; */
    margin: auto;
}

/* -------------------  ------------------- */

header > img {
    /* border: 1px solid red; */
    width: 550px; height: auto;
    position: relative;
    object-position: 0px 0px;
    object-fit: cover;
    text-align: center;
    /* background: radial-gradient(circle at 0%,white,#bdbec1) */
    background: radial-gradient(white 0%,#bdbec1 70%);
}


/* ------------------- ELEMENTS DE LA BARRE NAV PRINCIPALE ------------------- */

#nav_p-container {
    /* border: 1px solid red; */
    background-image: radial-gradient(farthest-corner at 225px 30px, #e1e2e3 0%, #c5c5c6 50%);
    width: 50%; height: 50px;
    margin: auto;
    display: flex;
}

.nav_p-element {
    /* border: 1px solid red; */
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1; /* flex: 1; flex va prendre tout l'espace disponible (pas besoin de calculer) */
    transition: all 0.5; /* Effet esthétique à coupler avec le ":hover" */
}

.nav_p-element:nth-child(1) {
    background-color: #e7319d;
    color: white;
    margin: 13px;
}

.nav_p-element:nth-child(2) {
    color: #4bbc6c;
}

.nav_p-element:nth-child(3) {
    color: #46b2e0;
}

.nav_p-element:nth-child(4) {
    color: #808183;
}


/* ------------------- ------------------- */

/* ------------------- ELEMENTS DE LA BARRE NAV SECONDAIRE ------------------- */

#nav_s-container {
    /* border: 1px solid red; */
    background-image: radial-gradient(farthest-corner at 225px 30px, #e1e2e3 0%, #c5c5c6 50%);
    width: 43%; height: 50px;
    margin: auto;
    display: flex;
}

.nav_s-element {
    /* border: 1px solid red; */
    font-size: 15px;
    text-decoration: none; font-weight: bold;
    display: flex;
		transition: 0.3s;
    align-items: center; 
    justify-content: center;
    flex: 1; /* flex: 1; flex va prendre tout l'espace disponible (pas besoin de calculer) */
}

.nav_s-element:nth-child(1) {
    background-color: #e7319d;
    color: white;
    margin: 13px;
}

.nav_s-element:nth-child(2) {
    color: #e7319d;
}

.nav_s-element:nth-child(3) {
    color: #e7319d;
}


/* ------------------------ EFFET LORSQUE L'ON PASSE LE POINTEUR SUR LA NAV BARRE ------------------------ */

/* .nav-element:hover {             ":hover" = Ajoute un effet lorsque nous passons le pointeur dessus utilisation
                                    première page pour effet esthétique?
}
*/

/* .nav_s-element:nth-child(1):hover {
    background-color: #e7319d;
    color: white;
    margin: 15px;
} */

.nav_s-element:nth-child(2):hover {
    background-color: #e7319d;
    color: white;
    margin: 15px;
}

.nav_s-element:nth-child(3):hover {
    background-color: #e7319d;
    color: white;
    margin: 15px;
}


/* -------------------  ------------------- */

#description-page {
    /* border: 1px solid red; */
    color: #e7319d;
    text-align: center;
    font-size: 20px;
    /* letter-spacing: 1px; */ word-spacing: 6px;
}


#elements-container {
    /* border: 3px solid red; */
    margin: auto; margin-bottom: 1%;
    width: 91%; height: 70em;
    padding: 1%; padding-bottom: 0;
    font-weight: bold; 
    color: #e7319d; font-size: 17px;
}


/* --------------------- PARTIES EN COMMUNS AUX DEUX SECTIONS --------------------- */

input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

#vos_informations > legend, #demande_ref > legend {
    font-size: 30px;
    border: 0.5px solid #e7319d;
    width: fit-content;
    line-height: normal;
}

#vos_informations > input,
#demande_ref > input, #demande_ref > textarea {
    border: none;
    border-bottom: 1px dotted #e7319d;
    width: 60%;
}

/* ---------------------  --------------------- */

/* --------------------- PREMIERE CARTE "VOS INFORMATIONS" --------------------- */
#informations-container {
    border: 3px solid #e7319d;
    margin: auto; margin-bottom: 1%;
    width: 60%; height: 26%;
    padding: 1%;
}

#vos_informations {
    /* border: 3px solid blue; */
    margin: auto;
    width: 100%; height: 100%;
    line-height: 3.7em;
}

/* ---------------------  --------------------- */

/* --------------------- DEUXIEME CARTE "DEMANDE DE REF" --------------------- */

#demande_ref-container {
    border: 3px solid #e7319d;
    margin: auto; margin-bottom: 1%;
    width: 60%; height: 35%;
    padding: 1%;
}

#demande_ref {
    /* border: 1px solid red; */
    margin: auto;
    width: 100%; height: 100%;
    line-height: 3.3em;
}

/* ---------------------  --------------------- */

/* --------------------- CHECKBOX JEUNE --------------------- */


#checkbox-container {
    /* border: 3px solid blue; */
    margin: auto; margin-right: 3%;
    width: fit-content; height: 19em;
    text-align: justify;
}

#table-checkbox {
    /* border: 3px solid black; */
    margin: auto;
    width: 100%; height: 85%;

    background-color: #ec028d;
    border-collapse: collapse;
    font-weight: bold;
}

#table-checkbox > thead {
    background: linear-gradient(to left, #ec028d, #f496bf 100%);
    text-align: right;
    font-size: 20px; color: white;
    height: 35px;
}

#table-checkbox > tbody {
    background-color: #fbe2ed;
    padding: 10%;
    font-size: 16px;
    line-height: 24px;
}

#checkbox-container > legend {
    color: #e7319d;
    text-align: right;
    font-size: 19px;
}

#description-checkbox {
    /* border: 1px solid red; */
    margin: auto; margin-top: 5%;
    color: #e7319d;
    font-size: 12px;
    text-align: center;
} 


/* --------------------- BOUTOUNS FIN DE PAGE --------------------- */

#send_form {
    border: 1px solid #e7319d;
    color: white;
    background-color: #e7319d;
    font-size: 25px; font-weight: bold;
    margin: auto;
    display: flex;
    padding: 1%;
}

#forgot_password {
    border: 3px solid #e7319d;
    background-color: #e7319d;
    color: white;
    font-size: 15px; font-weight: bold;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    display: flex;
    padding: 2px;
} 

/* ---------------------  --------------------- */
