/* Ajoutons la font-family */
@font-face {
    font-family: 'square721_btroman';
    src: url('Font/square721_bt_roman-webfont.woff2') format('woff2'),
         url('Font/square721_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'square721_btroman';
}

body {
    margin: 0;
    /* background-image: url(Images/LOGOS_JEUNES_6_4.svg);
    background-repeat: no-repeat; */
}

header {
    /* border: 1px solid green; */
    background-color: #bdbec1;
    height: 220px; width: auto;
    display: flex;
}

/* ------------------- Résoudre problème texte quand je change d'affichage ------------------- */

#haut_page-container {
    /* border: 3px solid blue; */
    margin: auto; margin-top: 0;
    width: fit-content; height: fit-content;
}


/* Résolution du problème de changement d'écran en utilisant le même
squelette que pour les autres pages -> texte "h1" invisible car de meme
couleur que le header */

#nom_page-container {
    /* border: 5px solid red; */
    color: #bdbec1;
    font-size: 3em;
    margin: auto;
    width: fit-content; height: fit-content;
}

#nom_page-container > h1 {
    /* border: 5px solid green; */
    margin: auto; margin-top: 7%; margin-left: 23%;
    opacity: 100%;
}

#texte_haut-container {
    /* border: 5px solid red; */
    color: white;
    font-size: 1.4em; letter-spacing: 5px;
    width: fit-content; height: fit-content;
    margin: auto;
    position: absolute;
}

#texte_haut-container > p {
    /* border: 1px solid black; */
    margin: auto;
}

/* -------------------  ------------------- */

header > img {
    /* border: 1px solid red; */
    width: 550px; height: auto;
    position: relative;
    object-position: 0px 0px;
    object-fit: cover;
    text-align: center;
    /* background: radial-gradient(circle at 0%,white,#bdbec1)        */
    background: radial-gradient(white 0%,#bdbec1 70%);
}

#nav-container {
    /* border: 1px solid red; */
    background-image: radial-gradient(farthest-corner at 225px 30px, #e1e2e3 0%, #c5c5c6 50%);
    width: 50%; height: 50px;
    margin: auto;
    display: flex;
}

.nav-element {
    /* border: 1px solid red; */
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1; /* flex: 1; flex va prendre tout l'espace disponible (pas besoin de calculer) */

    transition: all 0.5; /* Effet esthétique à coupler avec le ":hover" */
    /* border-top: 2px solid grey; */ /* On met un border-top par défaut pour éviter de faire bouger
                                    notre texte lorsque nous passons le curseur dessus */

}


.nav-element:nth-child(1) {
    color: #e7319d;
}

.nav-element:nth-child(2) {
    color: #4bbc6c;
}

.nav-element:nth-child(3) {
    color: #46b2e0;
}

.nav-element:nth-child(4) {
    color: #808183;
}

/* ------------------------ EFFET LORSQUE L'ON PASSE LE POINTEUR SUR LA NAV BARRE ------------------------ */

/* .nav-element:hover {             ":hover" = Ajoute un effet lorsque nous passons le pointeur dessus utilisation
                                    première page pour effet esthétique?
    border-top: 3px solid red;
}
*/

.nav-element:nth-child(1):hover {
    background-color: #e7319d;
    color: white;
    margin: 13px;
}
.nav-element:nth-child(2):hover {
    background-color: #4bbc6c;
    color: white;
    margin: 13px;
}
.nav-element:nth-child(3):hover {
    background-color: #46b2e0;
    color: white;
    margin: 13px;
}
.nav-element:nth-child(4):hover {
    background-color: #808183;
    color: white;
    margin: 13px;
}


#texte_table-container {
    /* border: 2px solid green; */
    width: 70%;
    margin: auto; margin-top: 20px; margin-bottom: 25px;
}

/* ------------------------ TEXTE ------------------------ */

#texte-container {
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    padding: 5px;
    text-align: justify;
    background: transparent;
}

/* ------------------------ TABLEAUX ETAPES ------------------------ */

#table-container {
    /* border: 2px solid blue; */
    display: flex;
    margin: auto; margin-top: 20px;
    width: auto; height: fit-content;
}

.table-etapes {
    /* border: 1px solid red; */
    margin: auto;
    width: 250px; height: 225px;
}

thead {
    font-size: 25px;
    color: white;
    height: 50%;
    text-align: center;
}

tbody {
    text-align: justify;
    font-size: 16px;
    /* vertical-align: text-top; */
}

/* Premier tableau étape */
table:nth-child(1) {
    border: 5px solid #ec028d;
    /* background-color: #ec028d; */
    border-collapse: collapse;

}

table:nth-child(1) > thead {
    background: linear-gradient(to left, #ec028d, #f496bf 100%);
}

table:nth-child(1) > tbody {
    background-color: #fbe2ed;
}

/* Deuxième tableau étape */
table:nth-child(2) {
    border: 5px solid #bed745;
    /* background-color: #bed745; */
    border-collapse: collapse;
}

table:nth-child(2) > thead {
    background: linear-gradient(to left, #23b14a, #d7e598 100%);
}

table:nth-child(2) > tbody {
    background-color: #d7e598;
}

/* Troisème tableau étape */
table:nth-child(3) {
    border: 5px solid #00adee;
    /* background-color: #00adee; */
    border-collapse: collapse;
}

table:nth-child(3) > thead {
    background: linear-gradient(to left, #00adee, #7fd4f7 100%);
}

table:nth-child(3) > tbody {
    background-color: #c4eafb;
}
