@font-face {
    font-family: 'square721_btroman';
    src: url('Font/square721_bt_roman-webfont.woff2') format('woff2'),
         url('Font/square721_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'square721_btroman';
}

body {
    margin: 0;
    /* background-image: url(Images/LOGOS_JEUNES_6_4.svg);
    background-repeat: no-repeat; */
}

header {
    /* border: 1px solid green; */
    background-color: #bdbec1;
    height: 220px; width: auto;
    display: flex;
}

/* ------------------- Résoudre problème texte quand je change d'affichage ------------------- */

#haut_page-container {
    /* border: 3px solid blue; */
    margin: auto; margin-top: 0;
    width: fit-content; height: fit-content;
}

#nom_page-container {
    /* border: 5px solid red; */
    color: #808183;
    font-size: 3em;
    margin: auto;
    width: fit-content; height: fit-content;
}

#nom_page-container > h1 {
    /* border: 5px solid green; */
    margin: auto; margin-top: 13%; margin-left: 20%;
}

#texte_haut-container {
    /* border: 5px solid red; */
    color: white;
    font-size: 1.4em; letter-spacing: 5px;
    width: fit-content; height: fit-content;
    margin: auto; margin-left: 4%;
    position: absolute;
}

#texte_haut-container > p {
    /* border: 1px solid black; */
    margin: auto;
}

/* -------------------  ------------------- */

header > img {
    /* border: 1px solid red; */
    width: 550px; height: auto;
    position: relative;
    object-position: 0px 0px;
    object-fit: cover;
    text-align: center;
    /* background: radial-gradient(circle at 0%,white,#bdbec1) */
    background: radial-gradient(white 0%,#bdbec1 70%);
}

#nav-container {
    /* border: 1px solid red; */
    background-image: radial-gradient(farthest-corner at 225px 30px, #e1e2e3 0%, #c5c5c6 50%);
    width: 50%; height: 50px;
    margin: auto;
    display: flex;
}

.nav-element {
    /* border: 1px solid red; */
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1; /* flex: 1; flex va prendre tout l'espace disponible (pas besoin de calculer) */

    /* transition: all 0.5; Effet esthétique à coupler avec le ":hover"
    /* border-top: 2px solid grey; */ /* On met un border-top par défaut pour éviter de faire bouger
                                    notre texte lorsque nous passons le curseur dessus */

}

/* .nav-element:hover {             ":hover" = Ajoute un effet lorsque nous passons le pointeur dessus utilisation
                                    première page pour effet esthétique?
    border-top: 3px solid red;
}
*/

/* Utilisation des :nth-child() ? */
.nav-element:nth-child(1) {
    color: #e7319d;
}

.nav-element:nth-child(2) {
    color: #4bbc6c;
}

.nav-element:nth-child(3) {
    color: #46b2e0;
}

.nav-element:nth-child(4) {
    background-color: #808183;
    color: white;
    margin: 13px;
}

#elements-container {
    /* border: 1px solid red; */
    margin: auto; margin-top: 1%;
    padding: 1%;
    width: 60em; height: 45em;
}

#premier_paragraphe {
    /* border: 1px solid black; */
    font-size: 18px;
}

#modification_texte {
    font-weight: bold;
    color: #242ea7;
}

#images-container {
    /* border: 1px solid green; */
    margin: auto; margin-top: 5%; margin-bottom: 5%;
}

#images-container > img {
    width: 100px;
}

/* ------------------- TRAITEMENTS DES IMAGES ------------------- */

#images-container > img:nth-child(1) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

#images-container > img:nth-child(2) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

#images-container > img:nth-child(3) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

#images-container > img:nth-child(4) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

#images-container > img:nth-child(5) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

#images-container > img:nth-child(6) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;
}

#images-container > img:nth-child(7) {
    /* border: 3px solid green; */
    width: 200px; padding: 3%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

#images-container > img:nth-child(8) {
    /* border: 3px solid green; */
    width: 200px; padding: 1%;
    vertical-align: middle;
    justify-content: space-between;
    margin: auto;

}

/* ------------------- TRAITEMENTS DES IMAGES ------------------- */

#deuxieme_paragraphe {
    /* border: 1px solid black; */
    font-size: 18px;
}

