@font-face {
    font-family: 'square721_btroman';
    src: url('Font/square721_bt_roman-webfont.woff2') format('woff2'),
         url('Font/square721_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'square721_btroman';
}

body {
    margin: 0;
    /* background-image: url(Images/LOGOS_JEUNES_6_4.svg);
    background-repeat: no-repeat; */
}

header {
    /* border: 1px solid green; */
    background-color: #bdbec1;
    height: 220px; width: auto;
    display: flex;
}

/* ------------------- Résoudre problème texte quand je change d'affichage ------------------- */

#haut_page-container {
    /* border: 3px solid blue; */
    margin: auto; margin-top: 0;
    width: fit-content; height: fit-content;
}

#nom_page-container {
    /* border: 5px solid red; */
    color: #b8d433;
    font-size: 3em;
    margin: auto;
    width: fit-content; height: fit-content;
}

#nom_page-container > h1 {
    /* border: 5px solid green; */
    margin: auto; margin-top: 7%; margin-left: 23%;
}

#texte_haut-container {
    /* border: 5px solid red; */
    color: white;
    font-size: 1.4em; letter-spacing: 5px;
    width: fit-content; height: fit-content;
    margin: auto;
    position: absolute;
}

#texte_haut-container > p {
    /* border: 1px solid black; */
    margin: auto;
}

/* -------------------  ------------------- */


header > img {
    /* border: 1px solid red; */
    width: 550px; height: auto;
    position: relative;
    object-position: 0px 0px;
    object-fit: cover;
    text-align: center;
    /* background: radial-gradient(circle at 0%,white,#bdbec1) */
    background: radial-gradient(white 0%,#bdbec1 70%);
}

#nav-container {
    /* border: 1px solid red; */
    background-image: radial-gradient(farthest-corner at 225px 30px, #e1e2e3 0%, #c5c5c6 50%);
    width: 50%; height: 50px;
    margin: auto;
    display: flex;
}

.nav-element {
    /* border: 1px solid red; */
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1; /* flex: 1; flex va prendre tout l'espace disponible (pas besoin de calculer) */

    /* transition: all 0.5; Effet esthétique à coupler avec le ":hover"
    /* border-top: 2px solid grey; */ /* On met un border-top par défaut pour éviter de faire bouger
                                    notre texte lorsque nous passons le curseur dessus */

}

/* .nav-element:hover {             ":hover" = Ajoute un effet lorsque nous passons le pointeur dessus utilisation
                                    première page pour effet esthétique?
    border-top: 3px solid red;
}
*/

/* Utilisation des :nth-child() ? */
.nav-element:nth-child(1) {
    color: #e7319d;
}

.nav-element:nth-child(2) {
    background-color: #4bbc6c;
    color: white;
    margin: 13px;
}

.nav-element:nth-child(3) {
    color: #46b2e0;
}

.nav-element:nth-child(4) {
    color: #808183;
}


/* ------------------------ TEXTE SOUS LA NAV BARRE ------------------------ */

#description-page {
    /* border: 1px solid red; */
    color: #b8d433;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px; word-spacing: 3px;
    margin: auto; margin-top: 7px; margin-bottom: 1%;
    width: 45%; height: auto;
}


/* --------------------- TEXTE ORIGINAIRE --------------------- */

/* Voir si faire le même code couleur que pour les jeunes */
#texte_demande {
    border: 3px solid green;
    margin-bottom: 5px;
    width: fit-content; height: fit-content;
    font-weight: bold; font-size: 1.15em;
}

/* --------------------- --------------------- */


#elements-container {
    border: 3px solid red;
    margin: auto; margin-bottom: 1%;
    width: 91%; height: 69em;
    padding: 1%; padding-bottom: 0;
    font-weight: bold; 
    color: #bfd437; font-size: 17px;
}

/* --------------------- INFORMATIONS DU JEUNE --------------------- */

#informations_jeune-container {
    border: 3px solid green;
    margin: auto;
    width: 75%; height: 20%;
    padding: 1%;
}

#demande_ref-container {
    border: 3px solid yellow;
}

/* --------------------- ZONE COMMENTAIRE REFERENT --------------------- */

#comment-container {
    border: 3px solid violet;
}

#comment {
    border: 5px solid red;
}

/* --------------------- CHECKBOX --------------------- */

#checkbox-container {
    border: 3px solid green;
}

#table-checkbox {
    border: 4px solid green;
}

#checkbox-container > legend {
    border: 1px solid red;
}


/* --------------------- BOUTON CONFIRMER INFORMATIONS --------------------- */

#confirm {
    border: 1px solid red;
}


/* --------------------- BOUTON LOG-OUT --------------------- */

#forgot_password {
    border: 5px solid green;
    /* border: 3px solid #e7319d;
    background-color: #e7319d;
    color: white;
    font-size: 15px; font-weight: bold;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    display: flex;
    padding: 2px; */
}