@font-face {
    font-family: 'square721_btroman';
    src: url('Font/square721_bt_roman-webfont.woff2') format('woff2'),
         url('Font/square721_bt_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'square721_btroman';
}

input {
    font-family: "square721_btroman";
  }

body {
    margin: 0;
    /* background-image: url(Images/LOGOS_JEUNES_6_4.svg);
    background-repeat: no-repeat; */
}

header {
    /* border: 1px solid green; */
    background-color: #bdbec1;
    height: 220px; width: auto;
    display: flex;
}

/* ------------------- Résoudre problème texte quand je change d'affichage ------------------- */

#haut_page-container {
    /* border: 3px solid blue; */
    margin: auto; margin-top: 0;
    width: fit-content; height: fit-content;
}

#nom_page-container {
    /* border: 5px solid red; */
    color: #b8d433;
    font-size: 3em;
    margin: auto;
    width: fit-content; height: fit-content;
}

#nom_page-container > h1 {
    /* border: 5px solid green; */
    margin: auto; margin-top: 7%; margin-left: 23%;
}

#texte_haut-container {
    /* border: 5px solid red; */
    color: white;
    font-size: 1.4em; letter-spacing: 5px;
    width: fit-content; height: fit-content;
    margin: auto;
    position: absolute;
}

#texte_haut-container > p {
    /* border: 1px solid black; */
    margin: auto;
}

/* -------------------  ------------------- */

header > img {
    /* border: 1px solid red; */
    width: 550px; height: auto;
    position: relative;
    object-position: 0px 0px;
    object-fit: cover;
    text-align: center;
    /* background: radial-gradient(circle at 0%,white,#bdbec1) */
    background: radial-gradient(white 0%,#bdbec1 70%);
}

#nav-container {
    /* border: 1px solid red; */
    background-image: radial-gradient(farthest-corner at 225px 30px, #e1e2e3 0%, #c5c5c6 50%);
    width: 50%; height: 50px;
    margin: auto;
    display: flex;
}

.nav-element {
    /* border: 1px solid red; */
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex: 1; /* flex: 1 va prendre tout l'espace disponible (pas besoin de calculer) */

    transition: 0.3s; /* Effet esthétique à coupler avec le ":hover" */
    /* border-top: 2px solid grey; */ /* On met un border-top par défaut pour éviter de faire bouger
                                    notre texte lorsque nous passons le curseur dessus */

}

/* .nav-element:hover {             ":hover" = Ajoute un effet lorsque nous passons le pointeur dessus utilisation
                                    première page pour effet esthétique?
    border-top: 3px solid red;
}
*/

/* Utilisation des :nth-child() ? */
.nav-element:nth-child(1) {
    color: #e7319d;
}

.nav-element:nth-child(2) {
    background-color: #4bbc6c;
    color: white;
    margin: 13px;
}

.nav-element:nth-child(3) {
    color: #46b2e0;
}

.nav-element:nth-child(4) {
    color: #808183;
}

.nav-element:nth-child(5) {
    color: black;
}

.nav-element:nth-child(1):hover {
    background-color: #e7319d;
    color: white;
    margin: 13px;
}
.nav-element:nth-child(2):hover {
    background-color: #4bbc6c;
    color: white;
    margin: 13px;
}
.nav-element:nth-child(3):hover {
    background-color: #46b2e0;
    color: white;
    margin: 13px;
}
.nav-element:nth-child(4):hover {
    background-color: #808183;
    color: white;
    margin: 13px;
}

.nav-element:nth-child(5):hover {
    background-color: black;
    color: white;
    margin: 13px;
}


/* ------------------------ TEXTE SOUS LA NAV BARRE ------------------------ */

#description-page {
    /* border: 1px solid red; */
    color: #b8d433;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px; word-spacing: 3px;
    margin: auto; margin-top: 7px; margin-bottom: 1%;
    width: 45%; height: auto;
}


/* --------------------- TEXTE ORIGINAIRE --------------------- */

/* Voir si faire le même code couleur que pour les jeunes */
#texte_demande {
    /* border: 3px solid green; */
    margin-left: 2.7em; margin-bottom: 5px;
    width: fit-content; height: fit-content;
    font-weight: bold; font-size: 1.15em;
}

/* --------------------- --------------------- */

input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

#elements-container {
    /* border: 3px solid red; */
    margin: auto; margin-bottom: 3%;
    width: 91%; height: 63em;
    padding: 1%; padding-bottom: 0;
    font-weight: bold; 
    color: #bfd437; font-size: 17px;
}

/* --------------------- PARTIES EN COMMUNS AUX DEUX SECTIONS --------------------- */

#informations_jeune > legend, #demande_ref > legend {
    font-size: 30px;
    line-height: normal;
    border: 0.5px solid #b8d433;
    width: fit-content;
}

#informations_jeune > input, #demande_ref > input {
    border: none;
    border-bottom: 1px dotted #b8d433;
    width: 50%;
}

/* --------------------- INFORMATIONS DU JEUNE --------------------- */

#informations_jeune-container {
    border: 3px solid #b8d433;
    margin: auto; margin-bottom: 1%;
    width: 50%; height: 28%;
    padding: 1%;
}

#informations_jeune {
    /* border: 1px solid red; */
    margin: auto; 
    width: 100%; height: 17em;
    line-height: 45px;

}

#informations_jeune > input[type="submit"] {
    /* border: 1px solid red; */
    background-color: #b8d433;
    color: white;
    font-size: 17px; font-weight: bold;
    width: fit-content; height: fit-content;
}

/* --------------------- DETAILS DEMANDE DE REF --------------------- */

#demande_ref-container {
    border: 3px solid #b8d433;
    margin: auto; margin-bottom: 1%;
    width: 50%; height: 23%;
    padding: 1%;
}

#demande_ref {
    /* border: 1px solid red; */
    margin: auto; 
    width: 100%; height: 15em;
    line-height: 45px;
}

#demande_ref > textarea {
    border: none;
    border-bottom: 1px dotted #b8d433;
    width: 98%; height: auto;
}

/* --------------------- CONTAINER ELEMENTS 2EME MOITIE DE LA PAGE --------------------- */

#elements_bas-container {
    /* border: 3px solid black; */
    margin: auto; margin-top: 2%;
    width: auto; height: 20em;
    display: flex;
}

/* --------------------- ZONE COMMENTAIRE REFERENT --------------------- */

#comment-container {
    /* border: 3px solid violet; */
    margin: auto; margin-left: 13%; margin-right: 1%;
    width: 50%; height: fit-content;
}

#comment {
    background: linear-gradient(to left, #d0e186 0%, #e5efbe 90%);
    border: none;
    width: 100%; height: 100%;
}

::placeholder {
    color: white;
    padding: 1%;
}

/* --------------------- CHECKBOX --------------------- */

#checkbox-container {
    /* border: 3px solid green; */
    margin: auto; margin-right: 14%;
    width: fit-content; height: fit-content;
    /* margin: auto; margin-top: 0;
    width: auto; height: 98%;
    text-align: justify; */
}

#table-checkbox {
    border-collapse: collapse;
}

#checkbox-container > legend {
    color: #b8d433;
    text-align: right;
    font-size: 25px; font-weight: bold;
}

#description-checkbox {
    /* border: 1px solid red; */
    margin: auto; margin-top: 2%;
    color: #b8d433;
    font-size: 14px;
    text-align: center;
} 

#table-checkbox > thead {
    background: linear-gradient(to left, #23b14a, #e1ebaf 100%);
    color: white;
    height: 37px;
    text-align: right;
    font-size: 19px; font-weight: bold;
}

#table-checkbox > tbody {
    background-color: #e1ebaf;
    font-size: 15px; font-weight: bold;
    line-height: 23px;
}

/* --------------------- BOUTON CONFIRMER INFORMATIONS --------------------- */

#confirm {
    border: 1px solid #b8d433;
    background-color: #b8d433 ; color: white;
    font-size: 23px; font-weight: bold;
    margin: auto; margin-top: 0; padding: 7px;
    width: fit-content; height: fit-content;
    display: flex;
}


/* --------------------- BOUTON LOG-OUT --------------------- */

#forgot_password {
    border: 1px solid #b8d433;
    background-color: #b8d433 ; color: white;
    color: white;
    text-decoration: none;
    font-size: 15px; font-weight: bold;
    width: fit-content; height: fit-content;
    margin: auto; margin-top: 3% ; padding: 3px;
    display: flex;


    /* border: 3px solid #e7319d;
    margin: auto;
    width: fit-content;
    display: flex;
    padding: 2px; */
}